*{
      padding: 0;
      margin: 0;
 
}
  /* Header */
 
 

  /* Navigation */

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    padding: 0em;
    margin: auto;
    
}
ul.nav-links {
    display: flex; 
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 5em;
    border: 2px solid #0b3f1b;
    padding: .2em;
    margin: 2em; 
    cursor: pointer;
    border-radius: 25em;
    background-color: rgb(129, 184, 197);
    font-weight: bold;
    font-size: .6em;
    color: #491177;
}

button.menu-toggle{
    display: none;
}


body {
    background-color: #d2d3c0;
    line-height: 1.6;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
   }

.info{
    margin: 100px ;      
}

img.picture{
    width: 40%;
    height: 40%;
    border-radius: 20em;
    padding: 0em;
    margin: 0.5em;
    background-color: rgb(196, 149, 182);
    float: right; 
    margin-top: -170px;  
    
}

h1{
    font-size: 2em;
    font-weight: bold;
    color: #491177;
}

h1#home {
    display: flex;
}
p.home{
    font-size: 2em;
    font-weight: bold;
    color: #491177;
    align-content: center;
    text-align: justify;

}
p.projects {
    font-size: 1.5em;
    color: #491177;
    align-content: center;
    text-align: justify;
   
}
p.aboutme{
    margin: 0.5em;
    padding: 0em;
    font-size: 1.5em;
    font-weight: bold;
    color: #491177;
    justify-content: center;
    text-align: right;
}

img.ToluImage{
    width: 20em;
    border-radius: 20em;
    margin: 1em;
    float: left;
}

.aboutmesection {
    margin: 10em;
    padding: 5em;
    

}
h3#aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: 1em;
    background-color: unset;
}

h3 {
    font-size: 2em;
    color: #0b3f1b;
    background-color:#b2d8da;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0em;
 
}

img.viewimage{
    float: right;
}

span{
        color: #a30707;
        font-size: 1em; 
        margin: 0px;   

} 


a {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
   
    text-decoration: solid;
     
}


.projectsection{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: left; 
    width: auto;
    padding: 5em;
    margin: 10em;
}

.send-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 184, 197);
    height: 15px;
    padding: 1.5em;
    margin: 0.5em;
    color: #491177;
    border: 2px solid #0b3f1b;
    border-radius: 15px;
    width: 10px;
    font-weight: bold;
    font-size: 1em;
    float: right;
   
}

h2{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2em; 
    color: #0b3f1b;
    background-color: #b2d8da;
    height: 10px;
    padding: 1em;
    width: 5em;
    margin:5px;
}


.project-button{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 9em;
    border: 2px solid #0b3f1b;
    padding: .5em;
    margin: 2em; 
    cursor: pointer;
    border-radius: 25em 25em 10em 25em;
    background-color: rgb(129, 184, 197);
    font-weight: bold;
    font-size: 1em;
    color: #491177;
}

.Resumesection{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: left; 
    width: auto;
    padding: 5em;
    margin: 10em; 
}

h3#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    color: #0b3f1b;
    background-color: unset;
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: 1em;
} 
h3#projects{
    
    align-content: left;
    display: flex;
    width: 1em;  
   }

img.faqproject{
    float: right ;
    width: 20em;
    margin: 0.5em;
}

img.loanproject{
    float: left ;
    width: 20em;
    margin: 0.5em;
}

ul.skill{
    justify-self: left;
    text-align: justify;
}

h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    color: #0b3f1b;
    background-color: #b2d8da;
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: auto;
} 


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em;
   
   
}

.contactsection{
   
    margin: 10em;
    padding: 2px;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    color: #0b3f1b;
    background-color: #b2d8da;
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: auto;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px; 
    color: #0b3f1b;
    background-color: #b2d8da;
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: auto;
} 

label { 
    color: rgb(131, 9, 9);
    margin: 0.5em;
    font-size: 16px;
}  
input#name {
    color: rgb(131, 9, 9);
    width: 25%;
    color: rgb(3, 3, 3);
    padding:0.5em;
    margin: 0.5em;
    
}

input#email{
    width: 25%;
    color: rgb(3, 3, 3);
    padding: 0.5em;
    margin: 0.5em;

}
textarea#message {
    color: rgb(3, 3, 3);
    width: 50%;
    height: 20%;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 0.5em;

}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 25em;
    padding: -15em;
    font-size: 15px;
    font-weight: bold;
    color: #0b3f1b;
    margin: 0em;
    text-align: left;
}

div.logocontainer{
    display: flex
}

img.linkedin{
margin: 10px;
width: 3em;
background-color: unset;
float: left;
}

a#linkedin{
    width: 3.5em;
}
a.resume{
  color: #8f0303;
  font-size:1.5em;
  float: right;
  margin: 0em;
   
}

img.github{
    width: 2em;
    margin: 10px;
}

a#github{
    font-size: 55px
}

.skillsection  {
    margin: 10em;
}

img.skillimage{
    float: right ;
    width: 20em;
    border-radius: 20em;
    margin: 2em;
}
h3#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    color: #0b3f1b;
    background-color: unset;
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: 1em;
}

h3#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    color: #0b3f1b;
    background-color: unset;
    height: 1em;
    padding: 0.5em;
    width: 15em;
    margin: 1em; 
}
ul {
    margin: 2em;
    color: #491177;
    font-size: 1.5em;
}

.contactimage{
    width: 25em;
    float: left;
    border-radius: 25em;
    margin: 2em;
}

p.footer {
    background-color: white;
    padding: 0px;
    color: #0b3f1b;
    font-weight: bold;
   
    
}

footer {
    background: white;
    margin-top: 100px;
    display: block; 
    text-align: center;
 }

p{
    justify-content: center;
}

header {
   background-color: white;
   padding: 0.5em;
   position: fixed;
   width: 100%;
   
}
.scrollbackup{
    float: right;
}

img.topimage{
    display: flex;
}



}




@media (max-width: 768px ) {

    button.menu-toggle{
        display: block;
        margin: 0.5em;
    }
    nav {
        flex-direction: column
        align-items: left;
        width: 100%;
        justify-content: left;
    }
    
    
    ul.nav-links {
        display:none;
        flex-direction: column;
        justify-content: left;

    }

    img{
        display: flex;
        flex-direction: column; 
    }

    header {
        background-color: white;
        padding: 1.5em;
        position:absolute;
        width: 100%;
    }

    div{
        text-align: justify;
        padding: 0px;
        }

    body{
        height: 100%
    }

img.picture{
    width: 18em ;
}

.info{
    margin: 5em;
    padding: 5em;
    font-size: 12px; 
    text-align: justify;
}

p.home{
    text-align: justify;
    justify-content: left;
}


h3#aboutme{
justify-content: left;
align-content: left;
display: flex;
width: auto;  
     
}
.aboutmesection {
    margin: 0em;
    justify-content: center;
    
}

img.Toluimage{
    width: 18em
}
p.aboutme{
    text-align: justify;
}

.projectsection{
    margin: 0em;
    justify-content: center;
}


img.skillimage{
    width: em
}
.skillsection{
    margin: 0em;
    justify-content: center;
}
h5{
    justify-content: center;
    align-content: left;
    display: flex;
    width: 5em

}

.contactsection{
    margin: 0em;
    justify-content: center;
}

.contactimage{
    display: none
}

h2{
justify-content: center;
align-content: left;
display: flex;
width: 5em;
margin: auto;
    
}

h3#projects{
    justify-content: left;
    align-content: left;
    display: flex;
    width: 1em;  
   }

 
 img.faqproject{
   display: flex;
   flex-direction: column;
   width: 18em;
   margin: 0.5em;
}

img.loanproject{
    float: left ;
    width: 18em;
    margin: 0.5em;
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: left;   
    width: 0em;
    border: none;
    padding: 0em;
    margin: auto; 
    cursor: pointer;
    border-radius: none;
    background-color: rgb(129, 184, 197);
    font-weight: bold;
    font-size: .6em;
    color: #491177;
       
}
ul.nav-links.show {
    display:flex ;
    flex-direction: column;
    justify-content: left;
    
}

.container1{
    display: flex;
    flex-direction: column;
}
    

.container2{
    display: flex;
    flex-direction: column;
}
}






